{% extends "base.html" %}

{% block content %}
<h1>{{movie.title.orig}} </h1>
<div class="movie-details">
    <div class="movie-title-orig">Originální název: {{ movie.title_orig }}</div>
    <div class="movie-title-cz">Český název: {{ movie.title_cz }}</div>
    <div class="movie-title-sk">Slovenský název: {{ movie.title_sk }}</div>
    <div class="movie-image">
            {% if movie.image %}
                <img src="{{ movie.image.url }}" alt="{{ movie.title_orig }}">
            {% else %}
                <p>Obrázek není k dispozici.</p>
            {% endif %}
    <div class="movie-countries">Země:
        {% for country in movie.countries.all %}
            <span class="movie-country"><a href="{% url 'country' country.id %}">{{ country }}</a></span>
        {% endfor %}
    </div>
    <div class="movie-genres">žánry:
        {% for genre in movie.genres.all %}
            {{genre}}
        {% endfor %}
    </div>
    <div class="movie-directors">Režisér:
        {% for director in movie.directors.all %}
            <span class="movie-director"><a href="{% url 'actor' director.id %}">{{ director }}</a></span>
        {% endfor %}
    </div>
    <div class="movie-actors">Herci:
        {% for actor in movie.actors.all %}
            <span class="movie-actor"><a href="{% url 'actor' actor.id %}">{{ actor }}</a></span>
        {% empty %}
            Nikdo nehraje.
        {% endfor %}
    </div>
    <div class="movie-year">Rok: {{ movie.year }}</div>
    <div class="movie-title-description">Popis: {{ movie.description }}</div>
    <div class="movie-movie-video"><a href="{{movie.video}}">video</a></div>
        <a href="{% url 'movie_update' movie.id %}"><button>Upravit</button></a>
        <a href="{% url 'movie_delete' movie.id %}"><button>Smazat</button></a>
    </div>
</div>
{% endblock %}