{% extends "base.html" %}

{% block content %}
        <h2>Welcome to our outstanding page about the best of Cinematography.<span id="date-time"></span></h2>
        <h2>On DVD from 12.6.2023</h2>
        <h3>Indiana Jones a nástroj osudu</h3>
        <img class="News" src="./pic of movie/Indiana jones.jpg" alt="Indiana Jones">
        <p>Dobrodružný, Akční, Drama, Sci-fi</p>
        <p>USA, 2023, 154 min</p>
        <p>Na Oscara nominovaný Harrison Ford se ve snímku Indiana Jones a nástroj osudu naposledy vrací ve své ikonické roli pohotového a rafinovaného archeologa, aby prožil své poslední napínavé dobrodružství, které ho jako tradičně zavede do nejrůznějších koutů světa. (Falcon)</p>
        <p></p>
        <h3>Pravdivé Lži</h3>
        <img class="News" src="./pic of movie/Něco na té Mary je.jpg" alt="Něco na té Mary je">
        <p>Komedie, Romantický</p>
        <p>USA, 1998, 114 min</p>
        <p>Třináct let po katastrofickém trapasu na maturitním plesu si nesmělý Ted (Ben Stiller) najímá soukromého detektiva (Matt Dillon), aby mu pomohl nalézt Mary (Cameron Diaz) – dívku, která tenkrát možná mohla být jeho přítelkyní. Pochybný detektiv se však rozhodne získat Mary pro sebe. Připravte se na nestoudně zábavný komediální hit, ve kterém souboj o Maryiny sympatie nabízí prostor pro vtipy všeho druhu! (Magic Box)</p>
        <p></p>
        <h3>Pravdivé lži</h3>
        <img class="News" src="./pic of movie/Pravdivé lži.jpg" alt="Pravdivé lži">
        <p>Akčni, Thriler, Komedie</p>
        <p>USA, 1994, 135 min</p>
        <p>Zvláštní agent Harry Tasker (Arnold Schwarzenegger) vede dvojí život. Plynule mluví šesti jazyky, je dobře vycvičen pro kontrašpionáž a pracuje jako mezinárodní špión pro vládní organizaci nejvyššího utajení, ale jeho žena Helen (Jamie Lee Curtis) už patnáct let věří tomu, že má za muže obyčejného nudného obchodníka s počítači. Harry má všechny schopnosti, prostředky a odvahu chránit svoji zemi... jen jestli dokáže ochránit také svoje manželství? (Bontonfilm)</p>
        <p></p>
        <h2>On DVD from 11.22.2023</h2>
        <h2>Oppenheimer</h2>
        <img class="News" src="./pic of movie/Oppenheimer.jpg" alt="Oppenheimer">
        <p>Drama, Historický, Životopisný</p>
        <p>USA, Velká Británie, 2023, 180 min</p>
        <p>V době, kdy Druhá světová válka ještě vypadala nerozhodně, probíhal na dálku dramatický souboj mezi Spojenými státy a Německem o to, komu se dřív podaří zkonstruovat atomovou bombu a získat nad nepřítelem rozhodující převahu. V Americe se tajný výzkum skrýval pod označením Projekt Manhattan a jedním z jeho klíčových aktérů byl astrofyzik Robert Oppenheimer. Pod obrovským časovým tlakem se s týmem dalších vědců pokoušel sestrojit vynález, který má potenciál zničit celý svět, ale bez jehož včasného dokončení se tentýž svět nepodaří zachránit… (CinemArt)</p>
        <p></p>
        <h2>On DVD from 11.15.2023</h2>
        <h3>Blue Beetle</h3>
        <img class="News" src="./pic of movie/Blue Beetle.jpg" alt="Blue Beetle">
        <p>Akční, Dobrodružný, Sci-fi</p>
        <p>USA, 2023, 127 min</p>
        <p>Čerstvý absolvent vysoké školy Jaime Reyes se vrací domů pln nadějí do budoucna, aby zjistil, že domov už není takový, jaký jej opustil. Zatímco hledá smysl života, zasáhne osud, když se Jaime nečekaně střetne se starobylou relikvií obdařenou mimozemskou technologií. Když si Skarabeus vybere Jaimeho za svého symbiotického hostitele, je obdařen neuvěřitelným brněním schopným mimořádných a nepředvídatelných schopností, které navždy změní jeho osud, když se stane superhrdinou Blue Beetlem. (Vertical Entertainment)</p>
        <p></p>
        <h3>Mission: Impossible Odplata - První část</h3>
        <img class="News" src="./pic of movie/Mission Impossible Odplata.jpg" alt="Mission: Impossible Odplata - První část">
        <p>Akční, Dobrodružný, Thriler</p>
        <p>USA, 2023, 164 min</p>
        <p>Ethan Hunt (Tom Cruise) se s týmem Impossible Mission Force tentokrát vydává po stopách děsivé zbraně, jež má potenciál zničit celé lidstvo, aby ji zajistil dřív, než se dostane do rukou nějakého šílence. Při svém zběsilém a nebezpečném pátrání se však musí neustále ohlížet přes rameno, protože z jeho dávné minulosti se vynořil až příliš živý přízrak. Gabriel (Esai Morales) znal Ethana v dobách, kdy ještě nebyl elitním agentem, a ví o každé jeho slabině. Ethan, pro kterého bylo vždy zdraví a bezpečí jeho blízkých a členů týmu víc než úspěšně splněná mise, možná bude tentokrát muset své priority přehodnotit. (CinemArt)</p>
        <p></p>
        <footer>Copyrigh Created by Marcel Jurčák 2.12.2023</footer>
{% endblock %}