<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styless.css">
</head>
<body>
    <header class="headContainer">
        <img class="headContainer-part" alt="Yoda1" src="./pic of movie/HD-wallpaper-jedi-yoda-star-wars-lightsbar-black-background-dark-theme.jpg">
        <h1 class="headContainer-center">Endless Movie database</h1>
        <img class="headContainer-part" alt="Yoda2" src="./pic of movie/wp7248743.webp">
    </header>
    <nav class="navContainer">
        <button>Register</button>
        <button>Login</button>
    </nav>
    <nav class="navContainer2">
        <button>News in Cinemas</button>
        <button>News on DVD</button>
        <button>VOD Cinema Hub</button>
        <button>TV Recommendation</button>
        <button>Actor rankings</button>
        <button>Awards</button>
        <button>Users</button>
        <button>Movie Shop</button>
        <button>Merchandise Store</button>
    </nav>
    <main>
        <h2>Welcome to our outstanding page about the best of Cinematography.<span id="date-time"></span></h2>
        <div class="movie-box" id="movieBox">
            <div class="arrow left" onclick="showPreviousMovie()">&#9665;</div>
            <div class="movie-item" onclick="toggleVideo()">
                <div class="image-container">
                    <img class="movie-image" src="">
                </div>
            </div>
            <div class="arrow right" onclick="showNextMovie()">&#9655;</div>
            <div class="video-container">
                <video id="movieVideo" width="100%" height="100%" controls></video>
            </div>
        </div>
    </main>
    <footer>Copyrigh Created by Marcel Jurčák 2.12.2023</footer>
    <script src="script.js"></script>
</body>
</html>
